<nav>
  <h1>Electronic Commerce App</h1>
  <form>
    <input type="search" />
    <input type="submit" />
    <input type="reset" />
  </form>
  <ul>
    <li>
      <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page"
        >Home</a
      >
    </li>
    <li>
      <a
        routerLink="/about"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >About</a
      >
    </li>
    <li>
      <a
        routerLink="/contact"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Contact</a
      >
    </li>
    <li>
      <a
        routerLink="/register"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Register</a
      >
    </li>
    <li>
      <a
        routerLink="/log-in"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Log In</a
      >
    </li>
  </ul>
</nav>
